<div style="height: 10pt;">
	<mat-progress-bar *ngIf="ds.loading | async" mode="indeterminate"></mat-progress-bar>
</div>
<div>
  <table mat-table [dataSource]="ds" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Наименование  </th>
      <td mat-cell *matCellDef="let v" matTooltip="{{v.card | componentName}}">
        <button mat-button (click)="edit(v)">
          {{v.card | componentName}}
        </button>
      </td>
      </ng-container>
    <ng-container matColumnDef="nominal">
      <th mat-header-cell *matHeaderCellDef> Номинал </th>
      <td mat-cell *matCellDef="let v" matTooltip="{{v.card | nominal }}">
        {{v.card | nominal }}
      </td>
    </ng-container>
    <ng-container matColumnDef="properties">
      <th mat-header-cell *matHeaderCellDef> Свойства</th>
      <td class="small" mat-cell *matCellDef="let v">
        <ng-container *ngFor="let p of v.properties">
          {{p.property_type}}:{{p.value}}
        </ng-container>
      </td>
    </ng-container>
    <ng-container matColumnDef="box-qty">
      <th mat-header-cell *matHeaderCellDef>Коробка (количество)</th>
      <td mat-cell *matCellDef="let v">
        <ng-container *ngFor="let p of v.packages">
          <button mat-button class="box-qty" matTooltip="{{p.box | box}}: {{p.qty}}" (click)="edit(v)">
            <small>
              {{p.box | box}}
              <div>
                {{p.qty}}
              </div>
            </small>
          </button>
          <button mat-button matTooltip="История" (click)="showHistory(p)"><mat-icon>expand_less</mat-icon></button>
        </ng-container>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> История </th>
      <td mat-cell *matCellDef="let v">
        <ng-container *ngFor="let p of v.packages">
          
        </ng-container>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSize]="20"></mat-paginator>
  <div>
    <button mat-button color="primary" matTooltip="Обновить" (click)="refresh()">Обновить</button>
    <button mat-button matTooltip="Записать найденное в Excel файл" (click)="export2excel()">В Excel</button>
  </div>
</div>
