.menu {
    width: 100%;
    display: flex;
}

.right-menu {
    padding-top: 6pt;
}

.importExcel {
    padding: 20pt;
}

.paramBox {
    display: flex;
}

.back {
    padding: 4pt;
}

.uploadFile {
    padding-left: 10pt;
    padding-top: 14pt;
}

.numbersInFileName {
    padding-top: 6pt;
}