<div class="importExcel">
    <div class="menu">
        <app-top-menu class="top-menu"></app-top-menu>
        <div class="right-menu">
            Загрузка из книги Excel
        </div>
    </div>    <p></p>
    <div>
        1. Выберите тип компонентов. Для компонентов с номиналом тип будет определен по единице измерения, указанной в номинале.
        Если оставить это поле пустым, загрузятся только строки с указанным номиналом.
    </div>
    <div class="paramBox">
        <app-component-list class="symbol-selector" (symbolSelected)="onParam($event, box, numbersInFilename)"></app-component-list>
    </div>
    <div>
        2. Выберите коробку, в которую будут импортирован файл Excel. Оставьте пустым, если коробки будут добавлены в корень. Последний номер коробки указан в столбце 'A' таблицы.
    </div>
    <div class="paramBox">
        <app-box-autocomplete class="box-tree" (boxSelected)="onParam(symbol, $event, numbersInFilename)"></app-box-autocomplete>
    </div>

    <div>
        3. Отметьте галочку, нужно ли добавлять номер коробки из имени файла.
    </div>

    <div class="paramBox">
        <mat-checkbox class="numbersInFileName" [checked]="numbersInFilename" (change)="onParam(symbol, box, $event.checked)">
            Номера в имени файла
        </mat-checkbox>
    </div>
    <div>
        4. Выберите файл книги Excel. Все электронные таблицы (закладки) будут загружены, если формат строки окажется подходящим.
    </div>
    <div class="paramBox">
        <input style="display: none;" #fileUpload type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (change)="handleFileInput($event)">
        <button class="uploadFile" mat-button color="accent" matTooltip="Загрузить" (click)="fileUpload.click()">Выбрать и загрузить Excel</button>
    </div>


    <div class="paramBox">
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let f of loadedFiles">
                {{f.description}} {{f.sum}}
            </mat-list-item>
        </mat-list>
    </div>

    <div class="back">
        <button mat-button color="primary" matTooltip="Вернуться назад" (click)="back()">Назад</button>
    </div>
</div>