<div class="importExcel">
    <div class="menu">
        <app-top-menu class="top-menu"></app-top-menu>
        <div class="right-menu">
            Загрузка из книги Excel
        </div>
    </div>
    <p></p>
    <div>
        1. Подготовьте файл книги Excel в одном из двух форматов:
        <ul>
            <li>Сжатый (5 колонок)
                <br/>
                Коробка	Наименование(номинал) Количество Марка Описание
                <br/>
                Номинал конденсаторов указывается как напряжение и емкость: "25V   33mkf"
            </li>
            <li>Подробный (6 колонок) с разбивкой по компонентам
                <br/>
                Коробка	Наименование Количество Свойства Карточка Идентификатор
                <br/>
                Список свойств. Каждое свойство обозначается буквой и его значением, разделенные знаокм двоеточия (:).
                <br/>
                Например, "K: PMC" обозначает- корпус PMC, "V: 25"- номинальное напряжение 25В.
                <br/>
                Книга Excel содержит 26 таблиц(закладок), названия которых начинаются с буквы условного обозначения компонентаэ
                <br/>
                Например, таблица (вкладка) "R- резисторы" содержит резисторы.
            </li>
        </ul>
        <br/>
        Коробка записывается как число или максимум четыре числа, разделенных знаком минус (-).
        <br/>
        Вместо наименования для резисторов, конденсаторов и индуктивностей указывается их номинал с единицей измерения.
    </div>
    <br/>
    <div>
        2. Выберите тип компонентов.
        <br/>
        Для компонентов с номиналом тип будет определен по единице измерения, указанной в номинале.
        <br/>
        Если оставить это поле пустым или выбрать значение "Все", загрузятся только строки с указанным номиналом, а компоненты без номинала, например, 
        транзисторы и микросхемы не загрузятся.
    </div>
    <div class="paramBox">
        <app-component-list class="symbol-selector" (symbolSelected)="onParam($event, box, numbersInFilename)"></app-component-list>
    </div>
    <div>
        3. Выберите коробку или введите номер новой коробки, в которую будет импортирован файл Excel.
        <br/>
        Если оставить поле пустым, то коробки будут добавлены в корень.
        <br/>
        Если коробка уже существует, она будет пополнена.
        <br/>
        Последний номер коробки указан в столбце 'A' таблицы. В столбце можно перечислить коробки через знак минус (-).
    </div>
    <div class="paramBox">
        <app-box-autocomplete class="box-tree" (boxSelected)="onParam(symbol, $event, numbersInFilename)"></app-box-autocomplete>
    </div>

    <div>
        4. Отметьте галочку, нужно ли добавлять номер коробки из имени файла.
        <br/>
        Имя файла может содержать в любом месте одно десятичное число- номер коробки.
    </div>

    <div class="paramBox">
        <mat-checkbox class="numbersInFileName" [checked]="numbersInFilename" (change)="onParam(symbol, box, $event.checked)">
            Номера в имени файла
        </mat-checkbox>
    </div>
    <div>
        5. Выберите операцию. 
        <ul>
            <li>Добавленне- компоненты из файла Excel будут добавлены в базу данных. Количество комнонент увеличится на то, что указано в файле.</li>
            <li>Вычитание- компоненты из файла Excel будут удалены из базы данных. Колиичество комнонент уменьшится на заданное в файле таблицы число.</li>
            <li>Присвоение- количество компонент в коробках станет равным тому, что указано в файле книги Excel.</li>
        </ul>
        Если в файле есть несколько строк одного и того же компонента в одной и той же коробке, то операции добавления и удаления 
        будут применяться последовательно.
        <br/>
        То есть, если в первой строке быдо добавлено 10 штук, а во второй- 5, то всего будет добавлено 15 штук.
        <br/>
        В случае присвоения число окончательное количество будет равно количеству в последней сверху строке.
        <br/>
        
        <mat-form-field>
            <mat-label>Операция</mat-label>
            <mat-select [(value)]="importOperation">
                <mat-option value="+">
                  Добавление
                </mat-option>
                <mat-option value="-">
                    Вычитание
                  </mat-option>
                  <mat-option value="=">
                    Присвоение
                  </mat-option>
              </mat-select>
        </mat-form-field>
    </div>
    <br/>
    <div>
        6. Выберите файл книги Excel. Все электронные таблицы (закладки) будут загружены, если формат строки окажется подходящим.
    </div>
    <div class="paramBox">
        <input style="display: none;" #fileUpload type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" (change)="handleFileInput($event)">
        <button class="uploadFile" mat-button color="accent" matTooltip="Загрузить" (click)="fileUpload.click()">Выбрать и загрузить Excel</button>
    </div>
    <div class="paramBox">
        <mat-list role="list">
            <mat-list-item role="listitem" *ngFor="let f of loadedFiles">
                {{f.description}} обработано {{f.sum}} компонентов
            </mat-list-item>
        </mat-list>
    </div>

    <div class="back">
        <button mat-button color="primary" matTooltip="Вернуться назад" (click)="back()">Назад</button>
    </div>
</div>