.importExcel {
    width: 100%;
    height: 100%;
}

.paramBox {
    width: 100%;
    height: 56pt;
    margin: 0 auto;
    display: flex;
}

.uploadFile {
    padding-left: 10pt;
    padding-top: 14pt;
}

.numbersInFileName {
    padding-top: 6pt;
}