<div class="dlg">
    <mat-progress-bar class="progressbar" *ngIf="progress" mode="indeterminate"></mat-progress-bar>
    <form #cardForm="ngForm" [formGroup]="formGroup" (ngSubmit)="save()">
        <div *ngIf="!this.progress">
            <div fxLayout="row" fxLayoutAlign="space-around center" [style.color]="success ? 'green' : 'red'">
            {{message}}
            </div>
            <div fxLayout="column" fxLayoutAlign="stretch" >
                <div>
                    <app-component-list class="symbol-selector" (symbolSelected)="onSymbolSelected($event)"></app-component-list>
                    &nbsp;
                    <ng-container>
                        <mat-form-field>
                            <mat-label>Наименование</mat-label>
                            <input #name matInput type="text" placeholder="Наименование" autocomplete="name" formControlName="name">
                        </mat-form-field>
                        &nbsp;
                    </ng-container>
                    <ng-container *ngIf="hasUnit()">
                        <mat-form-field class="nominal">
                            <mat-label>Номинал</mat-label>
                            <input #nominal matInput type="number" placeholder="Номинал" formControlName="nominal">
                        </mat-form-field>
                        <app-prefix-measure-list [symbol_id]="value.card.symbol_id" (prefixSelected)="onPrefixSelected($event)"></app-prefix-measure-list>
                    </ng-container>
                    &nbsp;
                    <mat-form-field class="qty">
                        <mat-label>Количество</mat-label>
                        <input #qty  matInput type="number" placeholder="Количество" formControlName="qty" (change)="onQtyChanged($event)">
                    </mat-form-field>
                </div>
                <div>
                    <div fxLayout="row" fxLayoutAlign="end stretch">
                        <mat-label>Свойства</mat-label>
                        <button mat-button type="button" (click)="addProperty()"><mat-icon>add</mat-icon></button>  
                    </div>
                    <ng-container *ngFor="let p of value.properties">
                        <app-property-value [value]="p"></app-property-value>
                    </ng-container>
                </div>
                <div fxLayout="row" fxLayoutAlign="end stretch">
                    <div *ngIf="value.card.symbol_id > 0" class="new-item">
                        <button color="primary" mat-button type="submit">Добавить в коробку {{box.name}}</button>  
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>