<form #cardForm="ngForm" [formGroup]="formGroup" (ngSubmit)="save()">
    <div fxLayout="row" fxLayoutAlign="space-around center" [style.color]="success ? 'green' : 'red'">{{message}}</div>
    <div>
        <app-component-list class="symbol-selector" (symbolSelected)="onSymbolSelected($event)"></app-component-list>
        &nbsp;
        <ng-container *ngIf="value.card.symbol_id > 0">
            <mat-form-field>
                <mat-label>Наименование</mat-label>
                <input #name matInput type="text" placeholder="Наименование" autocomplete="name" formControlName="name">
            </mat-form-field>
            &nbsp;
        </ng-container>
        <ng-container *ngIf="hasUnit()">
            <mat-form-field class="nominal">
                <mat-label>Номинал</mat-label>
                <input #nominal matInput type="number" placeholder="Номинал" formControlName="nominal">
            </mat-form-field>
            <app-prefix-measure-list [symbol_id]="value.card.symbol_id" (prefixSelected)="onPrefixSelected($event)"></app-prefix-measure-list>
        </ng-container>
        &nbsp;
        <ng-container *ngIf="value.card.symbol_id > 0">
            <mat-form-field class="qty">
                <mat-label>Количество</mat-label>
                <input #qty  matInput type="number" placeholder="Количество" formControlName="qty" (change)="onQtyChanged($event)">
            </mat-form-field>
        </ng-container>
    </div>
    <div *ngIf="value.card.symbol_id > 0">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-label>Свойства</mat-label>
            <button mat-button type="button" (click)="addProperty()">Добавить <mat-icon>add</mat-icon></button>  
        </div>
        <ng-container *ngFor="let p of value.properties">
            <app-property-value [value]="p"></app-property-value>
        </ng-container>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <ng-container *ngIf="value.card.symbol_id > 0 && this.value.packages[0].qty > 0" class="new-item">
            <button color="accent" mat-flat-button type="submit">Выполнить</button>  
        </ng-container>
        <button *ngIf="hasPreviousRequestSaved()" type="button" color="primary" mat-button (click)="fillForm(previousRequest)">Заполнить предыдущим</button>  
    </div>
    <p></p>
</form>
