<div class="dlg">
    <mat-progress-bar class="progressbar" *ngIf="progress" mode="indeterminate"></mat-progress-bar>
    <form #orderForm="ngForm" [formGroup]="formGroup" (ngSubmit)="login()">
        <ng-container *ngIf="!this.progress">
            <div fxLayout="row" fxLayoutAlign="space-around center" [style.color]="success ? 'green' : 'red'">
                {{message}}
            </div>
            <p></p>
            <div fxLayout="column" fxLayoutAlign="stretch" >
                <div>
                    <mat-form-field>
                        <input matInput type="text" placeholder="логин" autocomplete="username" formControlName="login">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <input matInput type="password" placeholder="Пароль" autocomplete="current-password" formControlName="password">
                    </mat-form-field>
                </div>
                <div>
                    <div fxLayout="row" fxLayoutAlign="end stretch">
                        <button mat-button (click)="cancel()">Отменить</button>  
                        <button color="primary" mat-button type="submit">Войти</button>  
                    </div>
                </div>
            </div>
        </ng-container>
    </form>
</div>