<mat-progress-bar class="progressbar" *ngIf="progress" mode="indeterminate"></mat-progress-bar>
<ng-container *ngIf="!this.progress">
    <form class="dlg" fxLayout="column" fxLayoutAlign="stretch" fxFlex #cardForm="ngForm" [formGroup]="formGroup" (ngSubmit)="save()">
        <div [style.color]="success ? 'green' : 'red'">
            {{message}}
        </div>
        <div>
            <mat-form-field>
                <mat-label>Символ</mat-label>
                <input matInput type="text" placeholder="Символ" formControlName="key">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Наименование</mat-label>
                <input matInput type="text" placeholder="Наименование" formControlName="description">
            </mat-form-field>
        </div>
        <div>
            <div fxLayout="row" fxLayoutAlign="end stretch">
                <button mat-button type="submit">Сохранить</button>  
                <button mat-button type="button" (click)="cancel()">Отмена</button>  
            </div>
        </div>
    </form>
</ng-container>
