<div class="dlg">
    <mat-progress-bar class="progressbar" *ngIf="progress" mode="indeterminate"></mat-progress-bar>
    <form #cardForm="ngForm" [formGroup]="formGroup" (ngSubmit)="save()">
        <div *ngIf="!this.progress">
            <div fxLayout="row" fxLayoutAlign="space-around center" [style.color]="success ? 'green' : 'red'">
            {{message}}
            </div>
            <div fxLayout="column" fxLayoutAlign="stretch" >
                <div>
                    <mat-form-field>
                        <mat-label>Наименование</mat-label>
                        <input matInput type="text" placeholder="Наименование" autocomplete="name" formControlName="name">
                    </mat-form-field>
                </div>
                <div>
                    <app-component-list [symbol_id]="value.card.symbol_id" class="symbol-selector" (symbolSelected)="onSymbolSelected($event)"></app-component-list>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Номинал</mat-label>
                        <input matInput type="text" placeholder="Номинал" formControlName="nominal">
                    </mat-form-field>
                </div>
                <div>
                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <mat-label>Свойства</mat-label>
                        <button mat-button type="button" (click)="addProperty()"><mat-icon>add</mat-icon></button>  
                    </div>
                    <ng-container *ngFor="let p of value.properties">
                        <app-property-value [value]="p" (removed)="propertyRemoved($event)"></app-property-value>
                    </ng-container>
                </div>
        
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <mat-label>Коробки</mat-label>
                    <button mat-button type="button" (click)="addBox()"><mat-icon>add</mat-icon></button>  
                </div>
                
                <cdk-virtual-scroll-viewport *ngIf="enableScroll" itemSize="50" class="box-scroll">
                    <ng-container *ngFor="let p of value.packages"><!-- cdkVirtualFor does not wotk addBox()-->
                        <app-box-qty [value]="p" [enableButtons]=true (onAdd)="addToPackage($event)" 
                        (onMinus)="minusFromPackage($event)" (onMove)="movePackage($event)"></app-box-qty>
                    </ng-container>
                </cdk-virtual-scroll-viewport>
                <ng-container *ngIf="!enableScroll">
                    <ng-container *ngFor="let p of value.packages">
                        <app-box-qty [value]="p" [enableButtons]=true (onAdd)="addToPackage($event)" 
                            (onMinus)="minusFromPackage($event)" (onMove)="movePackage($event)"></app-box-qty>
                    </ng-container>
                </ng-container>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <button mat-button color="accent" type="button" (click)="rm()" matTooltip="Удалить"><mat-icon>delete</mat-icon></button>  
                    <button mat-button type="button" (click)="history()" matTooltip="История"><mat-icon>chevron_right</mat-icon></button>  
                    <button mat-button type="button" (click)="cancel()">Отмена</button>  
                    <button color="primary" mat-button type="submit">Сохранить</button>  
                </div>
            </div>
        </div>
    </form>
</div>