<div style="height: 10pt;">
  <!--  Cause NG0100: ExpressionChangedAfterItHasBeenCheckedError -->
	<mat-progress-bar *ngIf="ds.loading | async" mode="indeterminate"></mat-progress-bar>
</div>
<div>
  <table mat-table [dataSource]="ds" matSort>
    <ng-container matColumnDef="symbol_id">
        <th mat-header-cell *matHeaderCellDef> Компонент (символ) </th>
        <td mat-cell *matCellDef="let v" matTooltip="Символьное обозначение на схемах (1 буква)">
          <app-component-list [symbol_id]="v.symbol_id" (symbolSelected)="symbolSelected(v, $event)"></app-component-list>
        </td>
    </ng-container>
    <ng-container matColumnDef="property_type_id">
        <th mat-header-cell *matHeaderCellDef> Свойство </th>
        <td mat-cell *matCellDef="let v" matTooltip="Свойство">
          <app-property-type-select [id]="v.property_type_id" (propertyTypeSelected)="propertyTypeSelected(v, $event)"></app-property-type-select>
        </td>
    </ng-container>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Редактировать </th>
      <td mat-cell *matCellDef="let v">
        <button mat-button type="button" matTooltip="Удалить" (click)="rm(v)"><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <!--  ds.loading Cause NG0100: ExpressionChangedAfterItHasBeenCheckedError -->
  <ng-container *ngIf="!(ds.loading | async)">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-button color="primary" type="button" matTooltip="Добавить" (click)="add()">Добавить <mat-icon>add</mat-icon></button>
      <button mat-button color="accent" mat-flat-button type="button" matTooltip="Сохранить изменения" (click)="save()">Сохранить</button>
      <button mat-button color="primary" type="button" matTooltip="Обновить" (click)="refresh()">Обновить</button>
    </div>
  </ng-container>
</div>
