<div class="user-table">
    <div class="menu">
        <app-top-menu class="top-menu"></app-top-menu>
        <div class="right-menu">
            Коробки
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="space-between baseline">
            Начальная
            <app-box-autocomplete class="box-filter" (boxSelected)="onFilterBox($event)"></app-box-autocomplete>
        </div>
        <div></div>
    </div>
    <app-box-table></app-box-table>
    <div class="back">
        <button mat-button color="primary" matTooltip="Вернуться назад" (click)="back()">Назад</button>
    </div>
</div>
