.menu {
    width: 100%;
    display: flex;
}

.right-menu {
    padding-top: 6pt;
}

.user-table {
    padding: 20pt;
}

.back {
    padding: 4pt;
}

.box-filter {
    display: flex;
    padding: 10pt;
}