<form #boxQtyForm="ngForm" [formGroup]="formGroup">
    <div fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field class="box">
            <mat-label>Коробка</mat-label>
            <input matInput type="text" placeholder="Коробка" formControlName="boxPath" (change)="onBoxChanged($event)">
        </mat-form-field>
        <mat-form-field class="qty">
            <mat-label>Количество</mat-label>
            <input matInput type="number" placeholder="Количество" formControlName="qty" (change)="onQtyChanged($event)">
        </mat-form-field>
        <ng-container *ngIf="enableButtons">
            <button mat-button type="button" matTooltip="Добавить" (click)="add()"><mat-icon>add</mat-icon></button>  
            <button mat-button type="button" matTooltip="Уменьшить" (click)="minus()"><mat-icon>remove</mat-icon></button>  
            <button mat-button type="button" matTooltip="Переместить" (click)="mv()"><mat-icon>trending_flat</mat-icon></button>  
        </ng-container>
    </div>
</form>
