.top-menu {
    padding-top: 10pt;
    padding-left: 2pt;
    width: 120pt;
}

.symbol-selector {
    padding-left: 2pt;
}

.box-tree {
    padding-left: 2pt;
}

.query-input {
    padding-left: 2pt;
    padding-right: 2pt;
    width: calc(100% - 392pt);
}

.package-list {
    padding-left: 2pt;
}

.dasboard {
    width: 100%;
    height: 100%;
}

.searchBox {
    width: 100%;
    height: 56pt;
    margin: 0 auto;
    display: flex;
}

.boxNlist {
    width: 100%;
    height: calc(100% - 56pt) ;
    margin: 0 auto;
    display: flex;
}
