<div class="dasboard">
    <div class="searchBox">
        <app-top-menu class="top-menu"></app-top-menu>
        <app-component-list class="symbol-selector" (symbolSelected)="onQuery($event, svc.box, svc.query)"></app-component-list>
        <app-box-combolist class="box-tree" (boxSelected)="onQuery(svc.symbol, $event, svc.query)"></app-box-combolist>
        <app-query-component class="query-input" (queryChanged)="onQuery(svc.symbol, svc.box, $event)"></app-query-component>
    </div>
    <div class="boxNlist">
        <app-card-table class="package-list"></app-card-table>
    </div>
</div>
