<div class="dlg">
    <mat-progress-bar class="progressbar" *ngIf="progress" mode="indeterminate"></mat-progress-bar>
    <form #cardForm="ngForm" [formGroup]="formGroup" (ngSubmit)="save()">
        <div *ngIf="!this.progress">
            <div fxLayout="row" fxLayoutAlign="space-around center" [style.color]="success ? 'green' : 'red'">
                {{message}}
            </div>
            <div fxLayout="column" fxLayoutAlign="stretch" >
                <div>
                    <mat-form-field>
                        <mat-label>Коробка</mat-label>
                        <input matInput type="text" placeholder="Коробка" formControlName="box">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                        <mat-label>Наименование</mat-label>
                        <input matInput type="text" placeholder="Наименование" autocomplete="name" formControlName="name">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <button mat-button type="button" color="accent" matTooltip="Удалить" (click)="rm()"><mat-icon>delete</mat-icon></button>  
                    <button mat-button type="button" matTooltip="Закрыть" (click)="cancel()">Отменить</button>  
                    <button color="primary" mat-button type="submit">Сохранить</button>  
                </div>
            </div>
        </div>
    </form>
</div>