<div class="addIntoBox">
    <div class="menu">
        <app-top-menu class="top-menu"></app-top-menu>
        <div class="right-menu">
            Опись коробки
        </div>
    </div>
    <form>
        <div class="paramBox">
            <app-box-autocomplete class="box-tree" (boxSelected)="onBoxChanged($event)" [focus]="true"></app-box-autocomplete>
        </div>
        <small>
            <sup>*</sup>Если коробки еще нет, она будет создана, если уже существует- будет пополнена.
        </small>
        <mat-card *ngIf="!box.empty()" class="new-item">
            Новый компонент <small>Нажимайте Tab для перемещения по полям</small>
            <app-add-new-item-into-box [box]="box" (added)="onAdd($event)"></app-add-new-item-into-box>
        </mat-card>
        <app-card-table [autoload]=false [editcountonly]="true"></app-card-table>
    </form>
</div>
